<h2>Yo Bro!</h2>

<form method="post" action="/calculate">
    <label id="weight">Weight in pounds</label>
    <input type="number" name="weight" id="weight">
    <label id="type">Type:</label>
    <select name="type" id="type">
        <option value="default">Select One</option>
        <option value="stamped">Letters (Stamped)</option>
        <option value="mettered">Letters (Mettered)</option>
        <option value="envelopes">Large Envelopes (Flats)</option>
        <option value="firstclass">First-Class Package Service—Retail</option>
    </select>


</form>